<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @seller } %>
<%= form_for [:admin, @seller], :html => { :multipart => true } do |f| %>
  <fieldset data-hook="edit_seller">
    <legend align="center">Edit Seller</legend>
      <%= render :partial => "form", :locals => {:f => f} %>
      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button "Update", 'icon-ok' %>
        <span class="or"><%= Spree.t(:or) %></span>
        <%= link_to_with_icon 'icon-remove', Spree.t('actions.cancel'), admin_sellers_path, :class => 'button' %>
      </div>
  </fieldset>
<%end%>